<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:9000/Rejestracja/" binding="netTcpBinding" bindingConfiguration="" contract="Rejestracja.Kontrakt.GetRejestracja"  name="Rejestracja" kind="" endpointConfiguration="">
      </endpoint>
      <endpoint address="net.tcp://localhost:9001/ObsługaKlienta/" binding="netTcpBinding" bindingConfiguration="" contract="ObsługaKlienta.Kontrakt.GetObsługaKlienta"  name="ObsługaKlienta" kind="" endpointConfiguration="">
      </endpoint>
      <endpoint address="net.tcp://localhost:9002/NowaUsługa/" binding="netTcpBinding" bindingConfiguration="" contract="NowaUsługa.Kontrakt.GetDodajUsługę"  name="NowaUsługa" kind="" endpointConfiguration="">
      </endpoint>
      <endpoint address="net.tcp://localhost:9003/HistoriaTransakcji/" binding="netTcpBinding" bindingConfiguration="" contract="HistoriaTransakcji.Kontrakt.GetHistoriaTransakcji"  name="HistoriaTransakcji" kind="" endpointConfiguration="">
      </endpoint>
      <endpoint address="net.tcp://localhost:9004/Statystyki/" binding="netTcpBinding" bindingConfiguration="" contract="Statystyki.Kontrakt.GetBudujStatystyki"  name="Statystyki" kind="" endpointConfiguration="">
      </endpoint>
      <endpoint address="net.tcp://localhost:9005/WysyłanieMaili/" binding="netTcpBinding" bindingConfiguration="" contract="WysyłanieMaili.Kontrakt.GetOperacjeMail"  name="WysyłanieMaili" kind="" endpointConfiguration="">
      </endpoint>
      <endpoint address="net.tcp://localhost:9006/Wyświetl/" binding="netTcpBinding" bindingConfiguration="" contract="Wyświetl.Kontrakt.GetWyświetl"  name="Wyświetl" kind="" endpointConfiguration="">
      </endpoint>
    </client>
    <services>
      <service name="BazaDanych.Implementacja.BazaDanych">
        <clear />
        <endpoint binding="netTcpBinding" name="netTCP" contract="BazaDanych.Kontrakt.IListaOperacji" listenUriMode="Explicit">
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" name="mexTCP" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9007/ListaOperacji" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>